
/************************************************************/
/* CSS Reset ************************************************/
/************************************************************/

html, body, header, footer, main, nav, section, aside, div, 
h1, h2, h3, p, a, ul, li, abbr, 
figure, figcaption, img, picture, source, video, 
table, caption, thead, tbody, tr, th, td, 
form, fieldset, legend, label, input, textarea, button {
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer, main, section, aside, nav {
	display: block;
}

img, video, input, textarea, button, li, a {
	box-sizing: border-box;
}

@-ms-viewport	{ width: device-width; }

/************************************************************/
/* Responsive Styling - Layout Break Points *****************/
/*
	Default layout is 1-col Linear.
	2-col layout set at (min-width: 37em).
	3-col layout set at (min-width: 50em).
*/
/************************************************************/

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100%;
	line-height: 1.6;
	background-color: #00508b;
}

@media all and (min-width: 37em) {
body {
	background-image: url(../img/background-800-20151210.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
}

@media all and (min-width: 50em) {
body {
	background-image: url(../img/background-1000-20151210.jpg);
}
}

/************************************************************/
/* The Headings h1 and h2 ***********************************/
/************************************************************/

h1, h2 {
    text-align: center;
}

h1 {
	color: #ffffff;
	font-size: 1.4em; /* Fallback for those who don't support vw */
	font-size: 8vw;
	text-transform: uppercase;
	text-shadow: 0.005em 0.005em #000000, 0 0 5px #000000;
}

@media all and (min-width: 25em) {
h1 {
	font-size: 1.6em; /* Fallback for those who don't support vw */
 	font-size: 8vw;
}
}

@media all and (min-width: 37em) {
h1 {
	font-size: 3em; /* Fallback for those who don't support vw */
	font-size: 8vw;
	text-shadow: 0.01em 0.01em #000000, 0 0 15px #000000;
}
}

@media all and (min-width: 50em) {
h1 {
	font-size: 5em;
	text-shadow: 0.02em 0.02em #000000, 0 0 30px #000000;
}
}

section h2, aside h2 {
	color: #c9511d;
	font-size: 1.2em;
	line-height: 1.2;
	font-variant: small-caps;
	border-bottom: 2px solid #166ba1;
}

@media all and (min-width: 18em) {
section h2, aside h2 {
	font-size: 1.3em;
}
}

@media all and (min-width: 25em) {
section h2, aside h2 {
	font-size: 1.5em;
	line-height: 1.6;
}
}

/************************************************************/
/* The Content Wrapper **************************************/
/************************************************************/

@media all and (min-width: 50em) {
.wrapper {
	margin: auto;
	max-width: 65em;
}
}

/************************************************************/
/* The Navigation Menu **************************************/
/************************************************************/

nav {	/* Displaying only the Heading in 1-col linear layout */
	margin: 1%;
	padding: 1%;
	height: 1.6em;
	-webkit-transition: height 1s; /* for old android versions */
			transition:	height 1s;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 0.5em;
	box-shadow: 0.01em 0.01em #000000, 0 0 10px #000000;
}

@media all and (min-width: 18em) {
nav {	/* Displaying only the Heading in 1-col linear layout */
	height: 1.8em;
}
}

@media all and (min-width: 25em) {
nav {	/* Displaying only the Heading in 1-col linear layout */
	height: 2em;
}
}

nav:hover, nav:focus, nav:active {	/* on rollover the menu opens out in 1-col linear layout. */
	height: 13em;					/* If height is auto it opens, but transition won't work. */
}

@media all and (min-width: 18em) {
nav:hover, nav:focus, nav:active {	/* on rollover the menu opens out in 1-col linear layout. */
	height: 14.5em;					/* If height is auto it opens, but transition won't work. */
}
}

@media all and (min-width: 25em) {
nav:hover, nav:focus, nav:active {	/* on rollover the menu opens out in 1-col linear layout. */
	height: 15em;					/* If height is auto it opens, but transition won't work. */
}
}

@media all and (min-width: 37em) {	/* For overriding the 15em height in 2-col and 3-col */
nav:hover, nav:focus, nav:active { 
	height: auto;
}
}

@media all and (min-width: 37em) {	/* In 2-col and 3-col the full height is displayed */
nav {
	width: 26%;
	height: auto;
	float: left;
	box-shadow: 0.01em 0.01em #000000, 0 0 20px #000000;
}
}

@media all and (min-width: 50em) {
nav {
	width: 16%;
	box-shadow: 0.02em 0.02em #000000, 0 0 30px #000000;
}
}

nav h2 a {	/* Settings for 1-col Linear layout - for making the menu work in iphones */
    display: block;
    color: #166ba1;
    text-decoration: none;
	outline: 0;
}

nav h2 {	/* The Menu Heading in 1-col Linear Layout */
	font-size: 1em;
	line-height: 1.8;
	text-transform: uppercase;
	border-bottom: 2px solid #00508b;
}

@media all and (min-width: 18em) {
nav h2 {	/* The Menu Heading in 1-col Linear Layout */
	line-height: 2;
}
}

@media all and (min-width: 25em) {
nav h2 {	/* The Menu Heading in 1-col Linear Layout */
	font-size: 1.1em;
	line-height: 2.2;
}
}

@media all and (min-width: 37em) {	/* Hiding the Menu Heading in 2-col and 3-col */
nav h2 {
	line-height: 0;
	border-bottom: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
}

nav ul {
	list-style-type: none;
}

nav li {	/* Settings for 1-col Linear layout */
	font-size: 0.8em;
	line-height: 1.4;
	border-bottom: 1px solid #166ba1;
}

@media all and (min-width: 18em) {	/* Settings for 1-col Linear layout */
nav li {
	font-size: 0.9em;
}
}

@media all and (min-width: 37em) {	/* Settings for 2-col and 3-col layouts */
nav li {
	font-size: 1em;
	line-height: 1.6;
}
}

nav li:last-of-type {
	border-bottom: none;
}

nav li a:link, nav li a:visited {	/* Settings for 1-col Linear layout */
    display: block;
	padding: 0.6em 10%;
    color: #166ba1;
    text-decoration: none;
}

@media all and (min-width: 37em) {	/* Settings for 2-col and 3-col layouts */
nav li a:link, nav li a:visited {
	padding: 0.8em 10%;
}
}

/* The same styling is given for the <a> in the content area too */
nav li a:hover, nav li a:focus, nav li a:active, main a:hover, main a:focus, main a:active {
    color: #ffffff !important;
    background-color: #166ba1 !important; 
	outline: 0 !important;
}

/* !important is given so that this will override the higher specificity, */
/* of the style given below to indicate the current page */

/* To indicate the Current Page */

#home a.home-page, #rooms a.rooms-page, #prices a.prices-page, #contact a.contact-page {
	color: #000000;
	background-color: #cdedfe;
	border: 1px solid #166ba1;
	}

/************************************************************/
/* The Main Content Area ************************************/
/************************************************************/

main {
	margin: 1%;
	padding: 1%;
	background-color: #ffffff;
	border-radius: 0.5em;
	box-shadow: 0.01em 0.01em #000000, 0 0 10px #000000;
}

@media all and (min-width: 37em) {
main {
	width: 66%;
	float: left;
	box-shadow: 0.01em 0.01em #000000, 0 0 20px #000000;
}
}

@media all and (min-width: 50em) {
main {
	width: 50%;
	box-shadow: 0.02em 0.02em #000000, 0 0 30px #000000;
}
}

/************************************************************/
/* Styling the Homepage paragraphs **************************/
/************************************************************/

.home-para {
	margin: 1em 4%;
	color: #000000;
	font-size: 0.8em;
	line-height: 1.6;
	text-indent: 1em;
	-webkit-hyphens: auto; /* Saf 5.1+ */
       -moz-hyphens: auto; /* Fx 6.0+ */
        -ms-hyphens: auto; /* IE 10+ */
            hyphens: auto; /* None yet */
	/* Chrome and Android does not support hyphens yet (as on Dec-2015). */
}

@media all and (min-width: 18em) {
.home-para {
	font-size: 0.9em;
	text-indent: 1.5em;
}
}

@media all and (min-width: 25em) {
.home-para {
	font-size: 1em;
	text-indent: 2em;
}
}

@media all and (min-width: 37em) {
.home-para {
	font-size: 0.9em;
	text-indent: 1.5em;
}
}

@media all and (min-width: 45em) {
.home-para {
	font-size: 1em;
	text-indent: 2em;
}
}

@media all and (min-width: 50em) {
.home-para {
	font-size: 0.9em;
	text-indent: 1.5em;
}
}

@media all and (min-width: 57em) {
.home-para {
	font-size: 1em;
	text-indent: 2em;
}
}

/************************************************************/
/* Styling the  Homepage Pictures ***************************/
/************************************************************/

figure {
	margin: 1em 4%;
}

img {
	width: 100%;
	background-color: #757575;
	border: 1px solid #757575;
}

figcaption {
	font-size: 0.8em;
	line-height: 1.4;
	font-style: italic;
	color: #c9511d;
	border-bottom: 1px solid #c9511d;
}

@media all and (min-width: 18em) {
figcaption {
	font-size: 0.9em;
	line-height: 1.6;
}
}

@media all and (min-width: 25em) {
figcaption {
	font-size: 1em;
}
}

@media all and (min-width: 37em) {
figcaption {
	font-size: 0.9em;
}
}

@media all and (min-width: 45em) {
figcaption {
	font-size: 1em;
}
}

@media all and (min-width: 50em) {
figcaption {
	font-size: 0.9em;
}
}

@media all and (min-width: 57em) {
figcaption {
	font-size: 1em;
}
}

/************************************************************/
/* The Aside Part *******************************************/
/************************************************************/

aside {
	margin: 1%;
	padding: 1%;
	background-color: #ffffff;
	border-radius: 0.5em;
	box-shadow: 0.01em 0.01em #000000, 0 0 10px #000000;
}

@media all and (min-width: 37em) {
aside {
	/* clear: both; */
	/* Here float is used instead of clear for Styling reasons */
	width: 96%;
	float: left;
	box-shadow: 0.01em 0.01em #000000, 0 0 20px #000000;
}
}

@media all and (min-width: 50em) {
aside {
	width: 22%;
	box-shadow: 0.02em 0.02em #000000, 0 0 30px #000000;
}
}

/* The Reviews Aside Paragraph */

.reviews p {
	margin: 1em 4%;
	color: #000000;
	font-size: 0.8em;
	line-height: 1.6;
	text-indent: 1em;
	-webkit-hyphens: auto; /* Saf 5.1+ */
       -moz-hyphens: auto; /* Fx 6.0+ */
        -ms-hyphens: auto; /* IE 10+ */
            hyphens: auto; /* None yet */
	/* Chrome and Android does not support hyphens yet (as on Dec-2015). */
}

@media all and (min-width: 18em) {
.reviews p {
	font-size: 0.9em;
	text-indent: 1.5em;
}
}

@media all and (min-width: 25em) {
.reviews p {
	font-size: 1em;
	text-indent: 2em;
}
}

@media all and (min-width: 37em) {
.reviews p {
	font-size: 0.9em;
	text-indent: 1.5em;
}
}

@media all and (min-width: 45em) {
.reviews p {
	font-size: 1em;
	text-indent: 2em;
}
}

@media all and (min-width: 50em) {
.reviews p {
	font-size: 0.9em;
	text-indent: 1.5em;
}
}

@media all and (min-width: 63em) {
.reviews p {
	font-size: 1em;
	text-indent: 2em;
}
}

.reviewed-by {
	display: block;
	text-align: right;
}

/* The Additional-Options Aside */

.additional-options h2 { /* Hiding the Heading */
	font-size: 0.001em;
	line-height: 0;
	border: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.additional-options ul {
	margin: 0.2em 20%; /* for diplaying icons 2-row x 2-col */
	text-align: center;
	list-style-type: none;
}

@media all and (min-width: 14.5em) {
.additional-options ul {
	margin: 0.2em 4%;  /* for displaying icons 4 in a row */
}
}

@media all and (min-width: 50em) {
.additional-options ul {
	margin: 0.2em 20%; /* for diplaying icons 2-row x 2-col */
}
}

@media all and (min-width: 63em) {
.additional-options ul {
	margin: 0.2em 4%;  /* for displaying icons 4 in a row */
}
}

.additional-options li { /* diplaying icons 2-row x 2-col */
	display: inline-block;
	margin: 0.5em 0 0 15%;
}

.additional-options li:first-of-type, .additional-options li:nth-of-type(3) {
	margin-left: 0;
}

@media all and (min-width: 14.5em) { /* displaying icons 4 in a row */
.additional-options li {
	margin-left: 5%;
}
.additional-options li:first-of-type {
	margin-left: 0;
}
.additional-options li:nth-of-type(3) { /* have to specify again */
	margin-left: 5%;
}
}

@media all and (min-width: 50em) { /* diplaying icons 2-row x 2-col */
.additional-options li {
	margin-left: 15%;
}
.additional-options li:first-of-type, .additional-options li:nth-of-type(3) {
	margin-left: 0;
}
}

@media all and (min-width: 63em) { /* displaying icons 4 in a row */
.additional-options li {
	margin-left: 5%;
}
.additional-options li:first-of-type {
	margin-left: 0;
}
.additional-options li:nth-of-type(3) { /* have to specify again */
	margin-left: 5%;
}
}

/* The Language-Selection Section */

.language-selection {
	margin-top: 0.2em;
	border-bottom: 2px solid #166ba1;
}

.language-selection h3 {
	color: #166ba1;
	font-size: 0.8em;
	line-height: 1.2;
	font-weight: normal;
	text-align: center;
}

@media all and (min-width: 18em) {
.language-selection h3 {
	font-size: 0.9em;
}
}

@media all and (min-width: 25em) {
.language-selection h3 {
	font-size: 1em;
	line-height: 1.6;
}
}

.language-selection a {
	display: block;
	height: 2em;
	width: 2.5em;
	border: 1px solid #00508b;
	border-radius: 0.2em;
	background-color: #166ba1;
	background-repeat: no-repeat;
	background-size: 2.5em; /* width is set, height is auto */
	background-image: url(../img/languages-20151210.png); /* image sprite */
	/* hiding the text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.language-selection a:hover, .language-selection a:focus, .language-selection a:active {
	outline: 2px solid #166ba1;
}

a.german { /* image1 of sprite */
	background-position: 0 0;
}

a.french { /* image2 of sprite */
	background-position: 0 -2em;
}

a.hindi { /* image3 of sprite */
	background-position: 0 -4em;
}

a.chinese { /* image4 of sprite */
	background-position: 0 -6em;
}

/* The Social-Media Section */

.social-media h3 { /* Hiding the Heading */
	font-size: 0.001em;
	line-height: 0;
	border: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.social-media ul {
	padding-top: 0.5em;
}

.social-media a {
	display: block;
	height: 2.5em;
	width: 2.5em;
	border: 1px solid #00508b;
	border-radius: 50%;
	background-color: #166ba1;
	background-repeat: no-repeat;
	background-position: center; /* for those who don't support background-size */
	background-size: cover;
	/* hiding the text */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.social-media a:hover, .social-media a:focus, .social-media a:active {
	outline: 2px solid #166ba1;
}

a.pinterest { /* Data URI */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAtFBMVEXLICf////KGSDLHSTIFBvJFh7FBw/OKTDNJSzKGyLIERn99fXSPUPHDxb21tfWT1TOLTT++PjDAAX+/Pz77u/66On54+TwvL7rp6rlkJPVR03TQEbHCxTEAQn76+zcZWvPMDb98vP43+D10dLzzc/yx8jutbjtsbTom5/nl5rki4/jhIjgeoDda3DYWF3QNjz22tvqoqXmk5jigITfdXrXU1nQOD/PNDrwv8LedHjaXmPZW1+rPnYOAAABfklEQVQ4y+2R127jMBBF57KqF8teW7LkmsQttjebtrv5///KEHkJYCrxB+Q8ECTmYAaXQz84ItMNGKO+1pRJjvu6rvfzhQn7NRk1k1/44PfO9jYV6jBkpYqXJZgsb6XX09GWy6Pt6VzkTzfu2qTeuek9F8dnY1IhlPjDj3WgfHETnrshI5pCE4VqwuaT9jQMuUdmu+R2luWCKJ3GwE1wGT20K+Cxo1sAdzxRB3yLC3EZuYhR5YMczJpFEdyx+OIXVy/mHsxEO3HM4qtPLDFLujmYOZfVIgNK6xEt7+Q4SJbAqOAIUVPyeuxlGCl3wCqwM84iQ5LqAGAnPbtRr9wymXL5n5ak3AC8Rb7NqOcsW7gwe9Oa6AHuGzX5SO3ZRcXwMcndXuKmJT+6DYZwjEo+lv9bST2IvAIeMjDV+jkNqQ994MFTW28223mgJPUSjYG/FGlGhNSPJP6TuqNvEckI5clcIU5nGEfyGjHGKaXvkbaapHQN4riQdBVG0w+feAeNgxf7A0eqMQAAAABJRU5ErkJggg==);
}

a.twitter { /* Data URI */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAgVBMVEUtquH///8oqeEjpuAYot8mp+BDs+U4r+MgpeAdpN/0+/7y+v0zreIuq+Ht+P3f8vuJ0O50x+xjwOn9/v/w+f3H6PfA5vam2/OX1vGDze08sOPM6vid1/GT1PB6ye1rw+pRueZMt+bp9vzk9fzY7/nT7fldvugUoN6y4PSL0e8Ont2LPrazAAABE0lEQVQ4y+3Tx3KDMBCA4VVFAkQvBlMdlyTv/4DBJUBYZXzyzd+JGX60mp0B3l6JUiHoP68ELBh1pPQZEwoMKh02P2rZBK4bdgBJZDYHsyQfuXk8jyG5KQrScf9vyHckHPn9Ev6e/Do1vUYhCWKlpkHiPHepe5QKhZM8MULziswKR5vNHQf3dsTp61zv5s6tFdqOLF1ylwVL6KBl8jL3CBJYwpZY7H0UChkQrKGAsC7DYaIAE9UHnszAIgq3YcxtHUu2XSGsB1IdeyRddQfJDVhLXrera6bWwUZcLt9KRsuOsliDhRiiqv1cLSgftH2sjA5kEVaUgx1jsi9D7+pY9rVeNo1TBb5z5U9fPftHH+DtZX4ARBgNQg4+PNQAAAAASUVORK5CYII=);
}

a.google { /* Data URI */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAsVBMVEX2PSf////2OyX2MRr2OSL2NB32Lxf2NyH2Nh/5fW71Jg37o5n7npP2LRX1KxP1JAv1Hwb+8O/+5eL5d2f/+vn/9/f+6uf+3Nf6i374bl74YE73Sjb3Qi32KRH7qqH6gnP5cmH4aln3VkT3UDz3RjD/9PP+7Or+4Nz90s78tq77mIz5eWr3Uj///Pz+7+38u7T8sqr6hnn4ZVP4W0j3Uj791tL9xL76kYT1GwH0DwD9y8aB+dMLAAABnElEQVQ4y+2S2XKjMBBFuyUh9sVgdrAB4323k0ky//9h06SmUlMGXJP3HL2eulJfNfzw3zBFOh2loz7XtJu+swjTuivjnqrtX6f4l7nxJM86IvrYESUgRkU+R1ylUp+QuCvZeCCjMNPTDPIxFiQyuxwaSalDSnoHDhtKPqgg2mTWDIzEAxpkZjBwTcRJowJfrFB3B2Ze0OPWeck6cc0Y8JdoUAT+CynS/ijWiG+yNN7Bx/rDcJXiMfJ+IvOsk3/WWn2+T044q+ZJw+EBO9vgJyb3AvxiK8VjQbKorCW1nXvGP+KlJ4LwPOMV8bhtHciqm75C657Wec+zZXbdrZHYHGyhObmPgaepfa+5fK1EvBDUo4/7gdWQdYQYmkFlHrFrnno8DfWotDFd2XDXtWufIkEVRXBdaD3RfUNcpoagPst0iXGrdHssoIfX/fBBfobnEcYFZdE/Dou4tW1V5V4yxd9ybCGdNOzM7OWQWSFOUzm6t/y6JHM6mYT0hoTDKEK5XfwQieicKQLGYRovKn2vBznXGDyHcUlHwA/f5w+mDh2u76o0WAAAAABJRU5ErkJggg==);
}

a.facebook { /* Data URI */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAe1BMVEU8W5v///9BX540VJckR4/X3usxUpZ7kLseQoyerc0vUJX09vo6Wps5WJo3V5n7+/39/f7u8fbg5u/c4u2isdCClr90i7hof7H4+fvU2+m6xty2wtpvhrVdd6xGY6EpS5Lk6fHZ4OzK0+Spt9OYqMqMn8SKncNheq5NaaOu8wfEAAAAv0lEQVQ4y+3RSRLCIBQE0AQIMmMGEzM76/1PaABLdx9XLqz0+lXzq0n+P0p9o8zMCGGMRJ2peVVxfjWww6jbpi5SgE6LcxpSUhDO4/4FcxiSXVBt1mHwZXrx99UYIbCQCu5ghokQYOG96R0shmZokAIKMxu2sdaWGoJF+s6BQieWH3gKMN7YYwi20u+9lVJWEFST8IMfH2iCdzSs9jsmwugEDNl4iJZ3V/gLyPwX5nEoRr7khnQMIsyWEJWscXkChpII6e5J8RQAAAAASUVORK5CYII=);
}

/************************************************************/
/* The Final Footer *****************************************/
/************************************************************/

footer {
	clear: both;
	background-color: #00508b;
}

footer p {
	margin: 0;
	font-size: 0.8em;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
}

@media all and (min-width: 18em) {
footer p {
	font-size: 0.9em;
	line-height: 2;
}
}

@media all and (min-width: 25em) {
footer p {
	font-size: 1em;
	line-height: 3;
}
}

/************************************************************/
/* Next, the Rooms Page Styling *****************************/
/************************************************************/

.room-facilities {
	margin: 4%;
}

.room-facilities p {
	margin: 0 4% 0 6%;
	color: #000000;
	font-size: 0.8em;
	line-height: 1.6;
}

@media all and (min-width: 18em) {
.room-facilities p {
	margin: 0 8% 0 12%;
	font-size: 0.9em;
}
}

@media all and (min-width: 25em) {
.room-facilities p {
	font-size: 1em;
}
}

.room-facilities ul {
	margin: 1% 4% 0 12%;
}

@media all and (min-width: 18em) {
.room-facilities ul {
	margin: 1% 8% 0 20%;
}
}

.room-facilities li {
	padding: 1% 0;
	color: #000000;
	font-size: 0.8em;
	line-height: 1.6;
}

@media all and (min-width: 18em) {
.room-facilities li {
	font-size: 0.9em;
}
}

@media all and (min-width: 25em) {
.room-facilities li {
	font-size: 1em;
}
}

.video-area {
	margin: 5% 4% 4% 4%;
	border-top: 1px solid #c9511d;
}

.video-area p {
	margin: 2% 0;
	text-align: center;
	color: #c9511d;
	font-size: 0.8em;
	line-height: 1.2;
	font-weight: bold;
}

@media all and (min-width: 18em) {
.video-area p {
	font-size: 0.9em;
}
}

@media all and (min-width: 25em) {
.video-area p {
	font-size: 1em;
}
}

video {
	width: 100%;
	height: auto;
	border: 1px solid #000000;
	background-color: #000000;
	color: #ffffff;
	font-size: 0.8em;
	line-height: 1.4;
}

video a {	/* To take care of the Fallback message */
	background-color: #ffffff;
	font-weight: bold;
}

@media all and (min-width: 18em) {
video {
	font-size: 0.9em;
}
}

@media all and (min-width: 25em) {
video {
	font-size: 1em;
}
}

/************************************************************/
/* Styling the Responsive Table in the Prices Page **********/
/************************************************************/

table {
	display: block;
	margin: 4%;
	padding-bottom: 1%;
	border: solid 1px #00508b;
	border-collapse: collapse;
	border-radius: 0.5em;
}

caption {
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.2;
	color: #00508b;
	padding: 2% 4%;
	border-bottom: solid 1px #00508b;
}

@media all and (min-width: 18em) {
caption {
	font-size: 1em;
}
}

@media all and (min-width: 25em) {
caption {
	line-height: 1.4;
}
}

/* Hiding thead visually and from screen-readers in 1-col Linear layout */

thead {
	display: none;
	visibility: hidden;
}

/* Making thead visible at 25em and Wider	*/
/* At 25em the Table becomes 2-dimensional	*/

@media all and (min-width: 25em) {
thead {
	display: block;
	visibility: visible;
	padding: 2% 0;
	border-bottom: solid 1px #00508b;
}

thead tr {
	display: block;
}

thead th {
	display: inline-block;
	text-align: center;
	width: 32%;
}
}

/* Styling Table Data for all Viewport widths */

.red-room {
	background-color: #dc143c;
}

.blue-room {
	background-color: #166ba1;
}

.purple-room {
	background-color: #800080;
}

.red-room, .blue-room, .purple-room {
	text-transform: uppercase;
	color: #ffffff;
}

.double-occupancy {
	background-color: #cdedfe;
}

/* Making display block so that the Table Data aligns vertically in 1-col Linear layout */

tbody, tbody tr, tbody th, td {
	display: block;
	text-align: left;
}

/* Styling the Data elements for Different layouts widths */

tbody th {
	padding: 1% 4%;
	font-size: 0.9em;
	line-height: 1.4;
}

@media all and (min-width: 18em) {
tbody th {
	font-size: 1em;
}
}

@media all and (min-width: 25em) {
tbody th {
	padding: 1% 12%;
}
}

td {
	padding: 1% 5%;
	font-size: 0.9em;
	line-height: 1.4;
}

@media all and (min-width: 18em) {
td {
	font-size: 1em;
}
}

@media all and (min-width: 25em) {
td {
	display: inline-block;
	width: 33%;
	text-align: center;
	padding: 1% 0;
	line-height: 1.6;
}

td.second-col {
	margin-left: 32%;
}
}

/*	Making this Markup -- <td data-title="Header Text">Content Here</td>
	Display like this -- Header Text: Content Here
	in the Default 1-col Linear Layout. (Ref: by Aaron Gustafson)
*/
th[data-title]:before, td[data-title]:before {
	content: attr(data-title) ":\00a0";
	display: inline-block;
	min-width: 7em;
}

@media all and (min-width: 18em) {
th[data-title]:before, td[data-title]:before {
	min-width: 10em;
}
}

@media all and (min-width: 21em) {
th[data-title]:before, td[data-title]:before {
	min-width: 12em;
}
}

/* Hiding the data-title for 25em and wider Viewports	*/
/* because at 25em the Table becomes 2-dimensional		*/

@media all and (min-width: 25em) {
th[data-title]:before, td[data-title]:before {
	display: none;
}
}

/************************************************************/
/* Finally, the Contact Page ********************************/
/************************************************************/

form {
	margin-bottom: 4%;
	padding: 4% 0;
}

form ul {
	list-style-type: none;
}

fieldset {
	margin: 4% 2% 2% 2%;
	padding: 2% 4% 4% 4%;
	border-radius: 0.5em;
	border: solid 1px #c9511d;
}

legend {
	font-size: 0.8em;
	line-height: 1.4;
	font-weight: bold;
	color: #00508b;
}

@media all and (min-width: 14em) {
legend {
	font-size: 0.9em;
}
}

@media all and (min-width: 18em) {
legend {
	font-size: 1em;
	line-height: 1.6;
}
}

abbr {
	font-weight: bold;
	color: #ff0000;
	background-color: #ffffff;
}

form p {
	margin-bottom: 1em;
	color: #000000;
	font-size: 0.8em;
	line-height: 1.6;
	-webkit-hyphens: auto; /* Saf 5.1+ */
       -moz-hyphens: auto; /* Fx 6.0+ */
        -ms-hyphens: auto; /* IE 10+ */
            hyphens: auto; /* None yet */
	/* Chrome and Android does not support hyphens yet (as on Dec-2015). */
}

@media all and (min-width: 18em) {
form p {
	font-size: 0.9em;
}
}

@media all and (min-width: 25em) {
form p {
	font-size: 1em;
}
}

@media all and (min-width: 37em) {
form p {
	font-size: 0.9em;
}
}

@media all and (min-width: 45em) {
form p {
	font-size: 1em;
}
}

@media all and (min-width: 50em) {
form p {
	font-size: 0.9em;
}
}

@media all and (min-width: 57em) {
form p {
	font-size: 1em;
}
}

label {
	display: block;
}

textarea {
	display: block;
	width: 100%;
	padding: 2%;
	resize: none;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: #000000;
	background-color: #ffffff;
	border-radius: 0.2em;
	border: solid 1px #166ba1;
}

span {
	display: block;
  	width: 100%;
	font-size: 0.8em;
	line-height: 1.6;
	color: #000000;
}

@media all and (min-width: 14em) {
span {
	font-size: 0.9em;
}
}

@media all and (min-width: 18em) {
span {
	font-size: 1em;
}
}

@media all and (min-width: 25em) {
.date-info span {
	display: inline-block;
  	width: 43%;
	text-align: right;
}
}

@media all and (min-width: 32em) {
.date-info span {
	display: inline-block;
  	width: 33%;
	text-align: right;
}
}

@media all and (min-width: 37em) {
.date-info span {
	display: inline-block;
  	width: 43%;
	text-align: right;
}
}

@media all and (min-width: 47em) {
.date-info span {
	display: inline-block;
  	width: 33%;
	text-align: right;
}
}

@media all and (min-width: 50em) {
.date-info span {
	display: inline-block;
  	width: 43%;
	text-align: right;
}
}

@media all and (min-width: 62em) {
.date-info span {
	display: inline-block;
  	width: 33%;
	text-align: right;
}
}

@media all and (min-width: 32em) {
.personal-info span {
	display: inline-block;
  	width: 29%;
	text-align: right;
}
}

@media all and (min-width: 37em) {
.personal-info span {
	display: block;
  	width: 100%;
	text-align: left;
}
}

@media all and (min-width: 47em) {
.personal-info span {
	display: inline-block;
  	width: 29%;
	text-align: right;
}
}

@media all and (min-width: 50em) {
.personal-info span {
	display: block;
  	width: 100%;
	text-align: left;
}
}

@media all and (min-width: 62em) {
.personal-info span {
	display: inline-block;
  	width: 29%;
	text-align: right;
}
}

input {
	display: block;
  	width: 100%;
	height: 1.8em;
	margin: 0.1em 0 0.6em 0;
	padding: 0 0.3em;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.6;
	color: #000000;
	background-color: #ffffff;
	border-radius: 0.2em;
	border: solid 1px #166ba1;
	overflow: hidden;
}

@media all and (min-width: 16em) {
input {
	padding: 0 0.5em;
}
}

@media all and (min-width: 25em) {
.date-info input {
	display: inline-block;
  	width: 49%;
}
}

@media all and (min-width: 32em) {
.date-info input {
	display: inline-block;
  	width: 59%;
}
}

@media all and (min-width: 37em) {
.date-info input {
	display: inline-block;
  	width: 49%;
}
}

@media all and (min-width: 47em) {
.date-info input {
	display: inline-block;
  	width: 59%;
}
}

@media all and (min-width: 50em) {
.date-info input {
	display: inline-block;
  	width: 49%;
}
}

@media all and (min-width: 62em) {
.date-info input {
	display: inline-block;
  	width: 59%;
}
}

@media all and (min-width: 32em) {
.personal-info input {
	display: inline-block;
  	width: 63%;
}
}

@media all and (min-width: 37em) {
.personal-info input {
	display: block;
  	width: 100%;
}
}

@media all and (min-width: 47em) {
.personal-info input {
	display: inline-block;
  	width: 63%;
}
}

@media all and (min-width: 50em) {
.personal-info input {
	display: block;
  	width: 100%;
}
}

@media all and (min-width: 62em) {
.personal-info input {
	display: inline-block;
  	width: 63%;
}
}

.form-buttons {
	margin: 4% 2% 2% 2%;
}

.form-buttons li {
	display: inline;
}

button {
	margin-left: 4%;
	width: 43%;
	height: 2em;
	border-radius: 0.3em;
	border: 1px solid black;
	color: #000000;
	background-color: #ececec; /* fallback */
	background-image: -webkit-linear-gradient(#ececec, #bdbdbd); /* for old Andriods */
	background-image:         linear-gradient(#ececec, #bdbdbd);
	font-family: sans-serif;
	font-size: 0.8em;
	text-align: center;
}

button:hover, button:focus {
	font-weight: bold;
	border: 2px solid #00508b;
	background-image: -webkit-linear-gradient(#fcfcfc, #bdbdbd); /* for old Andriods */
	background-image:         linear-gradient(#fcfcfc, #bdbdbd);
}

button[type="submit"]:active {
	border: 2px solid #00508b;
	color: #ffffff;
	background-image: none;
	background-color: #32cd32;
}

button[type="reset"]:active {
	border: 2px solid #00508b;
	color: #ffffff;
	background-image: none;
	background-color: #dc143c;
}

@media all and (min-width: 14em) {
button {
	font-size: 0.9em;
}
}

@media all and (min-width: 18em) {
button {
	font-size: 1em;
}
}

/************************************************************/
/* Finis ****************************************************/
/************************************************************/